<nav class="navbar">
  <div class="container">
    <div class="navbar-container">
      <div class="logo" (click)="home()">
        <h2>Voo</h2>
        <span>Certo</span>
      </div>

      <ul>
        <li *ngIf="showButtonLogin">
          <button
            *ngIf="!userData?.name"
            (click)="login()"
            class="btn btn-login"
          >
            <i class="fa-regular fa-user"></i>
            Iniciar sessão
          </button>
        </li>

        <li *ngIf="showButtonLogin">
          <button
            *ngIf="userData?.name"
            (click)="account()"
            class="btn btn-login btn-active"
          >
            <i class="fa-regular fa-user"></i>
            {{ userData.name }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
