<div class="container">
  <div class="container-fl">
    <div class="container-canvas">
      <div>
        <h2>Selecione seu assento</h2>
        <canvas #seatingCanvas></canvas>
      </div>
      <div class="label">
        <h3>Label</h3>

        <div class="square-container">
          <div class="square" style="background-color: #408541"></div>
          <p>Disponível</p>
        </div>

        <div class="square-container">
          <div class="square" style="background-color: #616361"></div>
          <p>Indisponível</p>
        </div>
      </div>
    </div>

    <div class="details">
      <h3>Detalhe da viagem</h3>

      <p>De: {{ flight?.origin?.address }}</p>
      <p>Para: {{ flight?.destination?.address }}</p>
      <p>Passageiro(s): {{ flight?.passengers }}</p>
      <p>Ida: {{ flight?.departure_date }}</p>

      <img
        src="{{ flight?.airline_company?.logo }}"
        alt="logo"
        class="airline_company"
      />

      <div class="selected-seat">
        <h4>Assentos Selecionados:</h4>
        <div class="selected-seats">
          <p *ngFor="let seat of selectedSeats">{{ seat.seat }}</p>
        </div>
      </div>
    </div>

    <div class="card-price" *ngIf="flight">
      <p>Total</p>
      <div class="card-total">
        <div class="total">
          <span>R$</span>
          <h2>{{ formatNumber(flight.pix) }}</h2>
        </div>

        <div class="pix">PIX</div>
      </div>
      <div style="margin-bottom: 10px">
        <span class="desc"
          >Economia de <b>R$ {{ getEconomy() }}</b> no pix</span
        >
      </div>
      <div>
        <span style="font-size: 15px">
          Ou {{ getPaymentCard().installment }}x R$
          {{ formatNumber(getPaymentCard().installmentAmount) }}</span
        >
      </div>

      <div class="payment">
        <label for=""><b>Pagamento</b></label>
        <select [(ngModel)]="selectedPaymentMode" name="paymentMode" required>
          <option value="" disabled selected>
            Selecione o modo de pagamento
          </option>
          <option *ngFor="let mode of paymentModes" [value]="mode.id">
            {{ mode.label }}
          </option>
        </select>
      </div>

      <div style="height: 100px"></div>

      <div>
        <button class="btn btn-buy" (click)="buyFlight()">Comprar</button>
      </div>
    </div>
  </div>
</div>

<div class="payment-overlay" *ngIf="paymentCompleted">
  <div class="payment-message">
    <img src="../../../../../assets/confirm.gif" alt="">
    <h2>Pedido concluído!</h2>
    <p>O pagamento está sendo processado.</p>
  </div>
</div>
