<div class="container">
  <div class="container-fl">
    <div class="container-canvas">
      <div>
        <h2>Selecione seu assento</h2>
        <canvas #seatingCanvas></canvas>
      </div>
      <div class="label">
        <h3>Label</h3>

        <div class="square-container">
          <div class="square" style="background-color: #408541"></div>
          <p>Disponível</p>
        </div>

        <div class="square-container">
          <div class="square" style="background-color: #616361"></div>
          <p>Indisponível</p>
        </div>
      </div>
    </div>

    <div class="details">
        <h3>Detalhe da viagem</h3>

        <p>De: </p>
        <p>Para: </p>
        <p>Passageiros: </p>
        <p>Ida: </p>
        <p>Volta: </p>
    </div>
  </div>
</div>
