<div class="container">
    <h2>Entrar com sua conta</h2>
    <div class="group">
        <label for="">E-mail</label>
        <div class="input-group">
            <div class="input-container">
                <input type="email" placeholder="joao@email.com" name="email" />
                <i class="fa-solid fa-at"></i>
            </div>
        </div>
    </div>
    <div class="group">
        <label for="">Senha</label>
        <div class="input-group">
            <div class="input-container">
                <input type="password" placeholder="*******" name="password" />
                <i class="fa-solid fa-lock"></i>
            </div>
        </div>
    </div>

    <button class="btn btn-form">Entrar</button>

    <div class="register">
        Se não tem conta <a href="cadastrese">cadastre-se</a>
    </div>
</div>