<div class="container">
  <h2>Entrar com sua conta</h2>
  <div class="group">
    <label for="">E-mail</label>
    <div class="input-group">
      <div class="input-container">
        <input type="email" placeholder="E-mail" name="email" />
        <i class="fa-solid fa-at"></i>
      </div>
    </div>
  </div>
  <div class="group">
    <label for="">Senha</label>
    <div class="input-group">
      <div class="input-container">
        <input type="password" placeholder="Senha" name="password" />
        <i class="fa-solid fa-lock"></i>
      </div>
    </div>
  </div>

  <span class="error-message"></span>

  <button class="btn btn-form" (click)="login()">Entrar</button>

  <div class="register">
    Se não tem conta <a href="cadastrese">cadastre-se</a>
  </div>
</div>
