<div class="card">
  <div class="card-logo">
    <img src="{{flight.airline_company.logo}}" alt="" />
  </div>

  <div class="card-infos">
    <div class="card-info-left">
      <i class="fa-solid fa-plane"></i>
      <span>
        <b>IDA</b>
        <br />
        {{ flight?.origin?.address }}
        <br />
        {{ flight?.destination?.address }}
      </span>

      <div class="card-date">
        <b>{{ flight.departure_date }}</b>
        <!-- <p><small>03:10 - 0 paradas</small></p> -->
      </div>
    </div>

    <div class="card-info-right" *ngIf="flight?.return_date">
      <i class="fa-solid fa-plane"></i>
      <span>
        <b>VOLTA</b>
        <br />
        {{ flight?.destination?.address }}
        <br />
        {{ flight?.origin?.address }}
      </span>

      <div class="card-date">
        <b>{{ flight.return_date }}</b>
        <!-- <p><small>03:10 - 0 paradas</small></p> -->
      </div>
    </div>

    <div class="card-info-extra">
      <div class="info-extra">
        <div class="icon">
          <i class="fa-regular fa-calendar"></i>
        </div>
        {{ flight?.qtd_days ? flight.qtd_days : "--" }}
      </div>
      <div class="info-extra">
        <div class="icon">
          <i class="fa-solid fa-users"></i>
        </div>
        {{ flight?.passengers }} adulto(s)
      </div>
    </div>
  </div>
  <div class="card-price">
    <p>Total</p>
    <div class="card-total">
      <div class="total">
        <span>R$</span>
        <h2>{{ formatNumber(flight.pix) }}</h2>
      </div>

      <div class="pix">PIX</div>
    </div>
    <div style="margin-bottom: 10px">
      <span class="desc"
        >Economia de <b>R$ {{ getEconomy() }}</b> no pix</span
      >
    </div>
    <div>
      <span style="font-size: 15px">
        Ou {{ getPaymentCard().installment }}x R$
        {{ formatNumber(getPaymentCard().installmentAmount) }}</span
      >
    </div>

    <div>
      <button class="btn btn-buy" (click)="buyFlight()">Comprar</button>
    </div>
  </div>
</div>
