<div class="card">
    <div class="card-logo">
        <img src="" alt="">
    </div>

    <div class="card-infos">
         <div class="card-info-left">
            <i class="fa-solid fa-plane"></i>
            <span><b>IDA</b> SPA-POA</span>

            <div class="card-date">
                <b>25/05/2023</b>
                <p><small>03:10 - 0 paradas</small></p>
            </div>
        </div>

        <div class="card-info-right">
            <i class="fa-solid fa-plane"></i>
            <span><b>VOLTA</b> POA-SPA</span>

            <div class="card-date">
                <b>28/05/2023</b>
                <p><small>03:10 - 0 paradas</small></p>
            </div>
        </div>

        <div class="card-info-extra">
            <div class="info-extra">
                <div class="icon">
                    <i class="fa-regular fa-calendar"></i>
                </div> 
                5 dias
            </div>
            <div class="info-extra">
                <div class="icon">
                    <i class="fa-solid fa-users"></i>
                </div> 
                1 adulto
            </div>
        </div>
    </div>
    <div class="card-price">
        <p>Total</p>
        <div class="card-total">
            <div class="total">
                <span>R$</span>
                <h2>780,52</h2>
            </div>

            <div class="pix">PIX</div>
        </div>
        <div style="margin-bottom: 10px;">
            <span class="desc">Economia de <b>R$ 53,00</b> no pix</span>
        </div>
        <div>
            <span style="font-size: 15px;">Ou 10x R$ 89,45</span>
        </div>

        <div>
            <button class="btn btn-buy" (click)="buyFlight()">Comprar</button>
        </div>
    </div>
</div>