<div class="container-home">
  <div class="container-banner">
    <div class="banner">
      <img src="../../../assets/paisagem.jpg" alt="BANNER" />
    </div>
  </div>
  <div class="container">
    <div class="container-form">
      <app-search-container></app-search-container>
    </div>

    <div class="container-promotions">
      <h2>Passagens com promoção</h2>
      <div class="container-card-promotions">
        <app-promotion-card></app-promotion-card>
        <app-promotion-card></app-promotion-card>
        <app-promotion-card></app-promotion-card>
        <app-promotion-card></app-promotion-card>
        <app-promotion-card></app-promotion-card>
        <app-promotion-card></app-promotion-card>
      </div>
    </div>
  </div>
</div>
