<div class="card">
    <div class="card-img">
        <img src="../../../assets/rio.jpg" alt="" class="img">

        <div class="card-tag">
            <b class="decount">50%</b> desconto
        </div>
    </div>

    <div class="card-body">
        <h3>Rio de Janeiro</h3>
        <p>A partir de <b class="decount">R$ 150,88</b></p>
        <div class="card-dates">
            <div class="card-date">28/05/2023</div>
            <div class="card-date">31/05/2023</div>
        </div>
    </div>
</div>