<div class="container">
    <h2>Cadastre sua conta</h2>
    <div class="group">
        <label for="nome-input">Nome</label>
        <div class="input-group">
            <div class="input-container">
                <input type="text" id="nome-input" placeholder="Nome" name="nome" />
                <i class="fas fa-user"></i>
            </div>
        </div>
    </div>
    <div class="group">
        <label for="cpf-input">CPF</label>
        <div class="input-group">
            <div class="input-container">
                <input type="text" id="cpf-input" placeholder="CPF" name="cpf" mask="000.000.000-00" />
                <i class="far fa-id-card"></i>
            </div>
        </div>
    </div>
    <div class="group">
        <label for="email-input">E-mail</label>
        <div class="input-group">
            <div class="input-container">
                <input type="email" id="email-input" placeholder="E-mail" name="email" />
                <i class="fas fa-envelope"></i>
            </div>
        </div>
    </div>
    <div class="group">
        <label for="password-input">Senha</label>
        <div class="input-group">
            <div class="input-container">
                <input type="password" id="password-input" placeholder="Senha" name="password" />
                <i class="fas fa-lock"></i>
            </div>
        </div>
    </div>

    <button class="btn btn-form">Cadastrar</button>

    <div class="register">
        Já tem conta? <a href="login">Faça login</a>
    </div>
</div>
